<div class="mt-4">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <h1 class="text-center">EDIT BLOG</h1>
            <form method="POST" action="/blog/{{blog._id}}?_method=PUT"class="mx-4">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text"  class="form-control" value="{{blog.title}}" id="title" name="title" placeholder="Enter Title">
                </div>
                 <div class="form-group">
                    <label>Description</label>
                    <input type="text"  class="form-control" value="{{blog.description}}" id="description" name="description" placeholder="Enter Description">
                </div>
                 <div class="form-group">
                    <label>Image</label>
                    <input type="text"  class="form-control" value="{{blog.image}}" id="image" name="image" placeholder="Enter Image">
                </div>
                 <div class="form-group">
                    <label>VideoId</label>
                    <input type="text"  class="form-control" value="{{blog.videoId}}" id="videoId" name="videoId" placeholder="Enter VideoId">
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form> 
        </div>
    </div>       
</div>